# Proyecto de datos

En esta formación es de nuestro interés garantizar una primera experienca práctica con Python

## Contexto 

Hay un grupo de emprendedores que van a proponer una nueva firma inmobiliaria en Seattle, WA (USA). Como parte de su estudio de mercado, se hace necesario conocer ciertas dinámicas del mercado inmobiliario local. Para tal propósito, reunen información de un año de dinámica inmobiliaria en tal región (Mayo del 2014 a mayo del 2015). 
Tal grupo de emprendedores entra en contacto con nosotros para poder responder algunas preguntas que podrían dinamizar su toma de decisiones respecto al valor de marca. 

## Datos. 
Los datos están disponibles [aquí](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction)

## Preguntas
15. Cree una nueva columna llamada: "house_age"
    - Si el valor de la columna "fecha" es mayor que 2015-01-01 => 'new_house'
    - Si el valor de la columna "fecha" es menor que 2015-01-01 => 'old_house' '
16. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es igual a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'
17. Cree una nueva columna llamada: "condition_type"
    - Si el valor de la columna "condición" es menor o igual a 2 => 'malo'
    - Si el valor de la columna "condición" es igual a 3 o 4 => 'regular'
    - Si el valor de la columna "condición" es igual a 5 => 'bueno'
18. Cambie el TIPO en la columna "condición" a CADENA
20. Elimine las columnas: "sqft_living15" y "sqft_lot15"
21. Cambie el TIPO en la columna "yr_build" a FECHA
22. Cambie el TIPO en la columna "yr_renovated" a FECHA
23. ¿Cuál es la fecha más temprana de construcción de una propiedad?
24. ¿Cuál es la fecha de renovación más temprana para una propiedad?
25. ¿Cuántas propiedades tienen 2 pisos?
26. ¿Cuántas propiedades se encuentran en condición igual a “regular”?
27. ¿Cuántas propiedades están en una condición igual a “mala” y tienen “vistas al agua”?
28. ¿Cuántas propiedades tienen una condición igual a “buena” y son “nueva_casa”?
29. ¿Cuál es el valor de la propiedad de “estudio” más cara?
30. ¿Cuántas propiedades de “apartamentos” se renovaron en 2015?
31. ¿Cuál es la mayor cantidad de cuartos que tiene una propiedad tipo “casa”?
32. ¿Cuántas propiedades de “casa_nueva” se renovaron en 2014?
33. Seleccione las columnas: “id”, “fecha”, “precio”, “pisos”, “código postal” por método:
    - Directo por nombre de columna.
    - Por los Índices.
    - Por los índices de las filas y el nombre de las columnas
    - Índices booleanos

## Definición de variables

- id - Identificación única para cada casa vendida
- date - Fecha de la venta de la casa
- price - Precio de cada vivienda vendida
- bedrooms - Número de dormitorios
- bathrooms - Número de baños, donde .5 representa una habitación con inodoro pero sin ducha
- sqft_living- Pies cuadrados del espacio habitable interior de los apartamentos
- sqft_lot - Pies cuadrados del espacio del terreno
- floors - Número de plantas
- waterfront - una variable ficticia para determinar si el apartamento tenía vistas al paseo marítimo o no.
- view - Un índice de 0 a 4 de qué tan buena fue la vista de la propiedad
- condition- Un índice del 1 al 5 sobre el estado del apartamento,
- grade- un índice de 1 a 13, donde 1-3 no alcanza la construcción y el diseño de edificios, 7 tiene un nivel medio de construcción y diseño, y 11-13 tiene un nivel de construcción y diseño de alta calidad.
- sqft_above - los pies cuadrados del espacio interior de la vivienda que está por encima del nivel del suelo
- sqft_basement - los pies cuadrados del espacio interior de la vivienda que está por debajo del nivel del suelo el año en que se construyó inicialmente la casa
- yr_build - El año de la construcción
- yr_renovated - El año de la última renovación de la casa
- zipcode - En qué área de código postal se encuentra la casa
- lat- latitud
- long- Longitud
- sqft_living15 - Los pies cuadrados de espacio habitable de vivienda interior para los 15 vecinos más cercanos
- sqft_lot15 - Los pies cuadrados de los lotes de terreno de los 15 vecinos más cercanos

## Preparación

In [2]:
import pandas as pd

In [75]:
df = pd.read_csv('./data/kc_house_data.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

# 15. Cree una nueva columna llamada: "house_age"
    - Si el valor de la columna "date" es mayor que 1995-01-01 => 'new_house'
    - Si el valor de la columna "date" es menor que 1995-01-01 => 'old_house'

In [73]:
def house(year): 
    if year >= 1995: 
        return 'new_house'
    else: 
        return 'old_house'

In [76]:
# df['house_age'] = df['yr_built'].apply(house)

In [77]:
df['house_age']  = df['yr_built'].apply(lambda x: 'new_house' if x >= 1995 else 'old_house' )

In [79]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,old_house
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,old_house
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,old_house
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,old_house
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,old_house
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,new_house
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,new_house
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,new_house
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,new_house
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,new_house

# 16. Cree una nueva columna llamada: "dormitory_type"
    - Si el valor de la columna “dormitorios” es igual a 1 => ‘estudio’
    - Si el valor de la columna “dormitorios” es igual a 2 => 'apartamento'
    - Si el valor de la columna “dormitorios” es mayor a 2 => 'casa'

In [84]:
df['dormitory_type'] = df['bedrooms'].apply(lambda x:   'studio' if x == 1 else 
                                                        'apartment' if x == 2 else 
                                                        'house')

# 17. Cree una nueva columna llamada: "condition_type"
    - Si el valor de la columna "condición" es menor o igual a 2 => 'malo'
    - Si el valor de la columna "condición" es igual a 3 o 4 => 'regular'
    - Si el valor de la columna "condición" es igual a 5 => 'bueno'

In [95]:
df['condition_type'] = df['condition'].apply(lambda x: 'bad' if x <= 2 else 
                                 'regular' if (x == 3)|(x==4) else 
                                 'good')

# 18. Cambie el TIPO en la columna "condición" a CADENA

In [121]:
df['condition'] = df['condition'].astype(str)

In [110]:
df.dtypes

id                  int64
date               object
price             float64
bedrooms            int64
bathrooms         float64
sqft_living         int64
sqft_lot            int64
floors            float64
waterfront          int64
view                int64
condition          object
grade               int64
sqft_above          int64
sqft_basement       int64
yr_built            int64
yr_renovated        int64
zipcode             int64
lat               float64
long              float64
sqft_living15       int64
sqft_lot15          int64
house_age          object
dormitory_type     object
condition_type     object
dtype: object

# 20. Elimine las columnas: "sqft_living15" y "sqft_lot15"

In [131]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'house_age',
       'dormitory_type', 'condition_type'],
      dtype='object')

In [132]:
df = df.drop(columns = ['sqft_living15', 'sqft_lot15'], index = 1)

In [133]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'condition_type'],
      dtype='object')

# 21. Cambie el TIPO en la columna "year" a FECHA

In [136]:
df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')

In [139]:
df.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

# 22. Cambie el TIPO en la columna "yr_renovated" a FECHA

In [160]:
df['yr_renovated2'] = np.nan
df.loc[df['yr_renovated']!=0, 'yr_renovated2'] = pd.to_datetime(df.loc[df['yr_renovated']!=0, 'yr_renovated'], format = '%Y')
df['yr_renovated2']

0        NaN
2        NaN
3        NaN
4        NaN
5        NaN
        ...
21608    NaN
21609    NaN
21610    NaN
21611    NaN
21612    NaN
Name: yr_renovated2, Length: 21612, dtype: object

# 23. ¿Cuál es la fecha más temprana de construcción de una propiedad?

In [165]:
df['yr_built'] = pd.to_datetime(df['yr_built'], format = '%Y')

In [170]:
df['yr_built'].min()

Timestamp('1900-01-01 00:00:00')

# 24. ¿Cuál es la fecha de renovación más temprana para una propiedad?

In [177]:
df.loc[pd.notnull(df['yr_renovated2']), 'yr_renovated2'].min()

Timestamp('1934-01-01 00:00:00')

# 25. ¿Cuántas propiedades tienen 2 pisos?

In [189]:
x = df[df['floors']>2].shape[0]
print(f'Hay {x} propiedades de dos pisos')

Hay 782 propiedades de dos pisos

# 26. ¿Cuántas propiedades se encuentran en condición igual a “regular”?

In [200]:
x = df[df['condition_type'] == 'regular'].shape[0]
print(f'Hay {x} propiedades en condición regular')

Hay 19709 propiedades en condición regular

# 27. ¿Cuántas propiedades están en una condición igual a “mala” y tienen “vistas al agua”?

In [216]:
x = df[(df['waterfront'] == 1)&(df['condition_type']=='bad')].shape[0]
print(f'Hay {x} propiedades en mala condición con vista al agua')

Hay 2 propiedades en mala condición con vista al agua

# 28. ¿Cuántas propiedades tienen una condición igual a “buena” y son “nueva_casa”?

In [223]:
x = df[(df['condition_type'] =='good') & (df['house_age'] == 'new_house')].shape[0]
print(f'Hay {x} propiedades en buena condición con y son casas nuevas')

Hay 9 propiedades en buena condición con y son casas nuevas

# 29. ¿Cuántas propiedades de “apartamentos” se renovaron en 2015?

In [251]:
x = df[(df['dormitory_type']== 'apartment')&(df['yr_renovated']== 2015)].shape[0]
print(f'Hay {x} apartamentos que se renovaron en 2015')

Hay 0 apartamentos que se renovaron en 2015

# 30. ¿Cuántas propiedades de “casa_nueva” se renovaron en 2014?

In [256]:
x = df[(df['dormitory_type']== 'house')&(df['yr_renovated']== 2014)].shape[0]
print(f'Hay {x} casas que se renovaron en 2014')

Hay 87 casas que se renovaron en 2014